<%= form_for(@post, :html => {:multipart => true}) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% # find the currently logged in user id from user table         %>
    <% user_id = User.find_by_name(session[:current_user]).id %>
    <div class="field">
      <%= f.hidden_field :name_id, :value => user_id %>
    </div>
    <div class="field">
      <%= f.label :topic %>
      <br/>
      <%= f.text_field :topic %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <br/>
      <%= f.text_area :content %>
    </div>
    <% unless @post.new_record? || !@post.attachment? %>
        <div class="field">
          <%= f.label (:delete_attachment,'Delete attachment' )%>
          <br/>
          <%= @post.attachment_file_name %>
          <%= f.check_box :delete_attachment %>
        </div>
    <% end %>
    <div>
      <%= f.label :Attachment %>
      <br/>
      <%= f.file_field :attachment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
