<h3>Listing posts</h3>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Topic</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td><%= post.created_at.strftime('%d-%m-%Y') %> </td>
        <td><%= post.user.name %></td>
        <td><%= post.topic %></td>
        <td><%= truncate(post.content, :length => 70, :omission => '...') %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.can_be_edited_by?(current_user) %>
            <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Post', new_post_path %>
