<h1>Welcome to WACS Blog</h1>
<%= link_to 'Home', "/" %>
<h3>Listing posts</h3>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Topic</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td><%= post.created_at.strftime('%d-%m-%Y') %> </td>
        <td><%= @user_name.get_user_name(post.name_id) %></td>
        <td><%= post.topic %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <% if session[:login_status] == "loggedIn" %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Post', new_post_path %>
