<p id="notice"><%= notice %></p>
<p>
  <b>Date:</b>
  <%= @post.created_at.strftime("%d-%m-%Y") %>
</p>
<p>
  <b>Name:</b>
  <%= User.find(@post.name_id).name %>
</p>

<p>
  <b>Topic:</b>
  <%= @post.topic %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
<% if @post.attachment_file_name && @post.attachment_file_name != "" %>
    <p>
      <b>Attachments: </b>
      <%= link_to @post.attachment_file_name, @post.attachment.url %>
    </p>
<% end %>

<h2>Comments</h2>
<%= render :partial    => "comments/comment",
           :collection => @post.comments %>

<h2>New Comments:</h2>
<%= render "comments/form" %>
<% if @post_creator == @current_user_id %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
