<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "WACS" %>   </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    FB.init({
        appId  : '183175721720888',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
    });
    function logout() {
        FB.logout(function(response) {
            alert("You have logged Out successfully.")
            window.location.href = "/home";
        });
    }
</script>
<a href="#" onclick="logout()">Logout</a><br/>
<%= flash[:notice] %>
<%= yield %>

</body>
</html>
