<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "WACS" %>   </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    FB.init({
        appId  : '183175721720888',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
    });
    function logout() {
        FB.logout(function(response) {
            alert("You have logged Out successfully.")
            window.location.href = "/logout";
        });
    }
    function login() {
        FB.login(function(response) {
            if (response.session) {
                // user successfully logged in
                alert("logged In");
                //getting facebook login status such as facebook user_id
                get_status();
                FB.api('/me', function(response) {
                    document.getElementById('username').value = response.name;
                    document.myform.submit();
                });
            } else {
                // user cancelled login
                alert("Error in Loggin");
            }
        });
    }
    function get_status() {
        FB.getLoginStatus(function(response) {
            if (response.session) {
                // logged in and connected user, someone you know
                alert("session" + response.session.uid)
                document.getElementById('uid').value = response.session.uid;
            } else {
                // no user session available, someone you dont know
            }
        });
    }
</script>

<div id="header">
  <div id="logo">
    <h1><%= link_to "WACS", "/" %></h1>

    <p><em> Web-enabled Content System</em></p>
  </div>
  <hr/>
  <!-- end #logo -->
  <div id="menu">
    <ul>
      <li><%= link_to "Home", "/home" %></li>
      <li class="current_page_item"><%= link_to "Blog", posts_path %></li>
      <% if session[:login_status] == "loggedIn" %>
          <li><%= link_to 'Logout', '#', :onclick => 'logout()' %></li>
      <% else %>
          <li> <%= link_to 'Login', "#", :onclick => 'login()' %></li>
      <% end %>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
<%= link_to 'Logout', '#', :onclick => 'logout()' %>
<%= flash[:notice] %>
<%= yield %>
<div id="footer-bgcontent">
  <div id="footer">
    <p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by
      <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
  </div>
</div>
</body>
</html>
